// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/panel-confirmation';
@import 'components/phase-banner';
@import 'components/related-nav';
@import 'components/tag';
.nhsuk-button {
  width:300px;
}
div.before-you-continue-advice {
  max-width:700px;
}
header .header-content {
  padding-top:20px;
  padding-bottom:5px;
  border-bottom: 2px solid #005EB8;
  background: white;
}
header img {
  width:79px;
  height:32px;
  float:left;
  vertical-align: middle;
}
header p {
padding-top: 2px;
  padding-left:90px;
  box-sizing: border-box;
  vertical-align: inherit;
}
body {
  background:white;
}
hr {
padding:0px;
margin-top:30px;
margin-bottom:30px;
  width:125px;
}
.dos-display hr {
  padding:0px;
  margin-top:15px;
  margin-bottom:15px;
    width:125px;
}
.call-to-action {
Padding-bottom: 10px;
  border-bottom:3px solid #005EB8;
}
.find-a-dentist-text {
  padding-top: 30px;
  padding-bottom: 50px;
}
.nhsuk-details__text p {
  margin-bottom:10px;
}
div.band-text {
  max-width: 450px;
}
.band-text p {
  font-weight: bold;
  text-align: left;
}
.band-text span {
  font-weight: bold;
  float:right;
  display:inline-block;
}
.nhsuk-footer {
  background: #005EB8;
  border-top: 4px solid #003970;
}
a.nhsuk-footer__list-item-link {
  color:white !important;
}
.nhsuk-footer__copyright {
  color:white;
}
.dos-display {
  position:relative;
  border-left:4px solid #D8DDE0;
  background:#F0F4F5;
  padding: 15px 0px 1px 15px;
  margin-bottom:25px;
}
iframe {
  position:absolute;
  top:0px;
  right:0px;
  float:right;
  width:500px;
  height:467px;
  border-left:5px solid white;
}
.number{
  color:#005EB8;
  font-weight: bold;
}
.opening-time{
  color:#005EB8;
  text-decoration: underline;
}
.opening-time svg {
  margin-right:7.5px;
}
.more-information {
  text-decoration: underline;
  color:#005EB8;
}
.address::first-line {
  font-weight: bold;
}
.call-only-number {
  color:#005EB8;
  font-weight: bold;
}
.opening-time-24{
  color:#005EB8;
}
a.back-button {
  color:#768692;
}
///////////////////////////////////////////
// Add your custom CSS/Sass styles below...
///////////////////////////////////////////
