// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/panel-confirmation';
@import 'components/phase-banner';
@import 'components/related-nav';
@import 'components/tag';
/*Layout CSS*/

a.back-button {
  color:#768692;
}
header .header-content {
  padding-top:20px;
  padding-bottom:5px;
  border-bottom: 2px solid #005EB8;
  background: white;
}
header img {
  width:79px;
  height:32px;
  float:left;
  vertical-align: middle;
}
header p {
padding-top: 2px;
  padding-left:90px;
  box-sizing: border-box;
  vertical-align: inherit;
}
div.before-you-continue-advice {
  max-width:600px;
}
body {
  background:white;
}
hr {
padding:0px;
margin-top:30px;
margin-bottom:30px;
width:125px;
border:1px solid #D8DDE0;
}

/*action*/
.call-to-action {
  padding-bottom: 10px;
  border-bottom:3px solid #005EB8;
}
.find-a-dentist-text {
  padding-top: 30px;
  padding-bottom: 50px;
}

/*DoS display*/
.address::first-line {
  font-weight: bold;
}
.boilerplate{
  line-height: 42px;
}
.number{
  color:#005EB8;
}
.more-information {
  text-decoration: underline;
  color:#005EB8;
}
.website {
  line-height: 42px;
}
.dos-display hr {
  padding:0px;
  margin-top:0px;
  margin-bottom:10px;
  width:125px;
}

.dos-display {
  border-left:4px solid #D8DDE0;
  background:#F0F4F5;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content: flex-start;
  margin-bottom:25px;
}
.dosInformation{
  padding: 15px 0px 1px 15px;
  display:flex;
  flex-direction:column;
  flex-basis:45%;
}
/*only needed for seperation
.extraInfo{
  padding: 15px 0px 1px 15px;
  display:flex;
  flex-direction:column;
  flex-basis:45%;
}
*/
.mapView{
  display:flex;
  flex-direction:column;
  flex-basis:55%;
  border-left: solid white 4px;
}
iframe {
  width:100%;
  height:100%;
}
/*Opening time content*/
.nhsuk-expander{
  background-color:#F0F4F5 !important;
  margin-bottom:15px;
}
.opening-times .nhsuk-details__summary {
  background-color: #F0F4F5 !important;
  max-width:450px;
  padding:0px !important;
}
.openingTimeRow{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  margin: 10px 25px 0px 10px;
  padding: 10px 5px 0px 5px;
  border-bottom:solid 1px #D8DDE0;
}
.openingTimeRow>p{
  margin:0px 0px 8px 0px;
}
.openingDay{
flex-basis:65%;
}
.openingDayMF{
  flex-basis:54%;
}
.opening-time-24{
  color:#005EB8;
}
/*.opening-time{
  color:#005EB8;
  text-decoration: underline;
}
.opening-time svg {
  margin-right:7.5px;
}*/

/*Navigation buttons*/
.nhsuk-button {
  width:300px;
}

/*FAQ*/
.nhsuk-details__text p {
  margin-bottom:10px;
}
div.band-text {
  max-width: 450px;
}
.band-text p {
  font-weight: bold;
  text-align: left;
}
.band-text span {
  font-weight: bold;
  float:right;
  display:inline-block;
}

/*Footer CSS*/
.nhsuk-footer {
  background: #005EB8;
  border-top: 4px solid #003970;
}
a.nhsuk-footer__list-item-link {
  color:white !important;
}
.nhsuk-footer__copyright {
  color:white;
}

/*media queries*/
@media screen and (max-width:600px){
.dos-display{
  flex-direction:column;
}
.dosInformation{
  flex-direction:column;
  width:auto;
  order:-1;
}
.extraInfo{
  flex-direction:column;
  width:auto;
  order:2;
}
.mapView{
  display:flex;
  flex-direction:row;
  width:auto;
  flex:2;
  border-left:0px;
  order:1;
  border-top: solid white 5px;
  border-bottom: solid white 5px;
}
iframe{
  height:300px;
}
}

///////////////////////////////////////////
// Add your custom CSS/Sass styles below...
///////////////////////////////////////////
