// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/panel-confirmation';
@import 'components/phase-banner';
@import 'components/related-nav';
@import 'components/tag';
/*Layout CSS*/

a.back-button {
  color:#768692;
}
header .header-content {
  padding-top:20px;
  padding-bottom:5px;
  border-bottom: 2px solid #005EB8;
  background: white;
}
header img {
  width:79px;
  height:32px;
  float:left;
  vertical-align: middle;
}
header p {
padding-top: 2px;
  padding-left:90px;
  box-sizing: border-box;
  vertical-align: inherit;
}
div.before-you-continue-advice {
  max-width:600px;
}
body {
  background:white;
}
hr {
padding:0px;
margin-top:30px;
margin-bottom:30px;
width:125px;
border:1px solid #D8DDE0;
}
.dosInformationGrid hr{
  padding:0px;
  margin-top:20px;
  margin-bottom:20px;
  margin-right:20px;
  width:auto;
  border:1px solid #D8DDE0;
}
#boilerplate{
  padding-right:20px;
  margin:0px !important;
  font-size: 12pt !important;
}
/*action*/
.timeframeBanner{
  font-weight: bold;
  background-color: #FDF4DD;
  padding:20px 20px 5px 20px;
  margin-bottom:20px;
}
.call-to-action {
  padding: 25px 0px 10px 20px;
  border-bottom:5px solid #005EB8;
  border-left:5px solid #005EB8;
  border-right:5px solid #005EB8;
  border-top:5px solid #005EB8;
}
.find-a-dentist-text {
  padding-top: 30px;
  padding-bottom: 50px;
}

/*DoS display*/

.dosDisplayGrid .nhsuk-details .summary-text span{
  font-weight: bold;
  color: black !important;
}
.address::first-line {
  font-weight: bold;
}
.boilerplate{
  line-height: 42px;
}
.number{
  color:#005EB8;
}
.more-information {
  text-decoration: underline;
  color:#005EB8;
}
.website {
  line-height: 42px;
}
#aliasAddress {
  font-weight: bold;
  margin-bottom:10px !important;
}

/* grid layout */
.dosDisplayGrid{
  margin-bottom:25px;
  display:grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: auto auto;
  grid-template-areas:
  "information1 map"
  "information2 map";
}

.dosInformationGrid{
  border-left:4px solid #D8DDE0;
  background:#F0F4F5;
  padding: 15px 0px 1px 15px;
  display:inline-grid;
  grid-column-start: 1;
  grid-area: information1;
}
.extraInformation hr {
  padding:0px;
  margin-top:5px;
  margin-bottom:15px;
  width:125px;
}
.extraInformation{
  border-left:4px solid #D8DDE0;
  background:#F0F4F5;
  padding: 0px 0px 1px 15px;
  display:inline-grid;
  grid-column-start: 1;
  grid-area: information2;
}
.mapViewGrid{
  display:inline-grid;
  grid-column-start: 2;
  grid-row:1 / 3;
  grid-area:map;
  margin: 0 0 0 5px;
  background-color: #F0F4F5;
}
.moreInformationGrid{
  padding: 10px 0px 0px 15px;
  display:grid;
  grid-template-columns: [information] 40% [map] 60% [mapEnd];
  grid-template-rows: auto;
  grid-template-areas:
  "information3 mapOther";
  margin:15px 15px 0px 0px;
}
.mapOther {
  display:inline-grid;
  grid-area: mapOther;
  grid-column-start: 2 / 3;
  margin-right:15px;
  height: 275px;
  border-left:4px solid white;
}
.address2{
  margin: 15px;
  padding:15px;
  display:inline-grid;
  grid-area: information3;
  grid-column-start: 1/2;
}

.dosInformation .moreInformationGrid hr {
  padding:0px;
  margin-top:30px;
  margin-bottom:17.5px;
  width:125px;
}
iframe {
  width:100%;
  height:100%;
}

.dos-display {
  border-left:4px solid #D8DDE0;
  background:#F0F4F5;
  display:flex;
  flex-direction:column;
  justify-content: flex-start;
  margin-bottom:25px;
}
.dosInformation{
  padding: 15px 0px 1px 15px;
  display:flex;
  width:100%;
  flex-direction:column;
}
.dosInformation hr {
  padding:0px;
  margin-top:15px;
  margin-bottom:17.5px;
  width:125px;
}
#blueBold{
  color:#005EB8;
  font-weight: bold;
  background-color: transparent;
}
/*Opening time content*/
#open24{
  margin-bottom:10px !important;
}
.opening-times{
  width:100%;
}
.nhsuk-expander{
  background-color:#F0F4F5 !important;
  margin-bottom:10px;
  width:inherit;
}
.opening-times .nhsuk-details__summary {
  background-color: #F0F4F5 !important;
  padding:0px !important;
  width:inherit;
}
.openingTimeRow{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  margin: 10px 25px 0px 10px;
  padding: 10px 5px 0px 5px;
  border-bottom:solid 1px #D8DDE0;
}
.openingTimeRow>p{
  margin:0px 0px 8px 0px;
}
.openingDay{
flex-basis:55%;
}
.openingDayMF{
  flex-basis:55%;
}
.opening-timesOS{
  width:75%;
}
.opening-timesOS .nhsuk-details__summary {
  background-color: #F0F4F5 !important;
  padding:0px !important;
}
.openingTimeRowMF{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  margin: 10px 25px 0px 10px;
  padding: 10px 5px 0px 5px;
  border-bottom:solid 1px #D8DDE0;
}
.opening-time-24{
  color:#005EB8;
}

/*Navigation buttons*/
.nhsuk-button {
  width:300px;
}

/*FAQ*/
.nhsuk-details {
  background-color: transparent;
}
.nhsuk-details__text p {
  margin-bottom:10px;
}
div.band-text {
  max-width: 450px;
}
.band-text p {
  font-weight: bold;
  text-align: left;
}
.band-text small {
  font-weight:normal;
  text-align: left;
}
.band-text span {
  font-weight: bold;
  float:right;
  display:inline-block;
}
.band-text hr {
  padding:0px;
  margin-top:5px;
  margin-bottom:10px;
  width:auto;
  border: solid #D8DDE0 0.5px;
}

/*Footer CSS*/
.nhsuk-footer {
  background: #005EB8;
  border-top: 4px solid #003970;
}
a.nhsuk-footer__list-item-link {
  color:white !important;
}
.nhsuk-footer__copyright {
  color:white;
}

@media screen and (max-width:700px) {
  .dosDisplayGrid{
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
    "information1"
    "map"
    "information2";
  }

  .mapViewGrid{
    margin: 5px 0 5px 0;
  }

  iframe{
    height:auto;
  }
  .moreInformationGrid{
    padding: 15px 0px 1px 15px;
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas:
    "mapOther"
    "information3";
  }
  .mapOther {
    grid-row: 1 / 2;
    margin-left:0px;
    margin-bottom:15px;
  }
  .address2{
    margin: 15px;
    padding:20px;
    display:inline-grid;
    grid-area: information3;
    grid-row-start: 2 / 3;
  }
  .opening-timesOS{
    width:100%;
    font-size:14pt;
  }
  .openingDayMF{
    flex-basis:51%;
  }
  .dosInformation .moreInformationGrid hr {
    margin-top:22px;
    margin-bottom:8px;
  }
  .distance{
    padding-top:15px;
  }
}

@media screen and (max-width:360px) {
  .openingDayMF{
    flex-basis:48%;
  }
}

///////////////////////////////////////////
// Add your custom CSS/Sass styles below...
///////////////////////////////////////////
