<!--
  This is the main layout where you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Extends the layout from /docs/views/template.html -->
{% extends "template-111.html" %}

<!-- Add your custom CSS or Sass in /app/assets/sass/main.scss -->
{% block headCSS %}
  <link href="/css/main-grid.css" rel="stylesheet">
{% endblock %}

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  111 online see your dentist now
{% endblock %}

<!-- Header goes inside the header block -->
<!-- More info and code for the header can be found at https://service-manual.nhs.uk/design-system/components/header -->
{% block header %}
  {{ header({
    "service": {
        "name": "111 online",
        "href": "/"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}
{% block content %}
<body>
  <div class="services-that-can-help">
    <a class="back-button" href="dos-dentist-grid-weekend-noMap1"> Back </a>
    <h2>
      Other services
    </h2>
    <hr>
  </div>
  <p> Other services for NR305JW <a class="postcode" href="index">change my postcode</a></p>
  <div class="dos-display">
    <div class="dosInformation">
    <p class="address">Together dental Ormsby
      <br class="boilerplate">6 miles away</p>
      <h4 class="number">01493 728351</h4>
      <div class="opening-timesOS">
        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              Open until 5.15pm
            </span>
          </summary>
            <div class="openingTable">
              <div class="openingTimeRowMF">
                <div class="openingDayMF">
                  <p>Monday to friday</p>
                </div>
                <div class="openingTime">
                  <p>8.30am to 5.15pm</p>
                </div>
              </div>
              <div class="openingTimeRowMF">
                <div class="openingDayMF">
                  <p>Weekend</p>
                </div>
                <div class="openingTime">
                  <p>Closed</p>
                </div>
              </div>
              </div>
          </details>
          </div>
        <hr>
        <details class="nhsuk-details">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              More information
            </span>
          </summary>
          <div class="moreInformationGrid">
            <div class="mapOther">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2419.1851549492417!2d1.6834718515083096!3d52.67469417974487!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNTLCsDQwJzI4LjkiTiAxwrA0MScwOC40IkU!5e0!3m2!1sen!2suk!4v1590574146777!5m2!1sen!2suk" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
            <div class="information2"
            <p class="address2"> Pippin Close<br>
              Ormesby St.Margaret <br> NR29 3RW </p>
                <a href="https://www.google.com/maps/dir/52.6581559,1.7280883/together+dental/@52.6622073,1.6680534,13z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x47da00b4080cf1bd:0x6f6fe104842d78da!2m2!1d1.6856657!2d52.6746915" target="_blank">Get directions (opens a new tab)</a>
                <hr>
                <a class="website" href="https://www.together.dental/" target="_blank">www.together.dental/ormesby/</a>
                <br>
                <a href="https://www.google.com/search?q=together%20dental&oq=otgether+dental&aqs=chrome..69i57j0l7.1891j0j7&sourceid=chrome&ie=UTF-8&sxsrf=ALeKk03fILHAz4mjCSCsLdhPPe4QPEb6-Q:1589817091195&npsic=0&rflfq=1&rlha=0&rllag=52640620,1525857,14362&tbm=lcl&rldimm=8029884070138575066&lqi=Cg90b2dldGhlciBkZW50YWxaIgoPdG9nZXRoZXIgZGVudGFsIg90b2dldGhlciBkZW50YWw&ved=2ahUKEwji1OmX4r3pAhUhtHEKHU0PDhwQvS4wCHoECAgQKg&rldoc=1&tbs=lrf:!1m4!1u3!2m2!3m1!1e1!1m4!1u2!2m2!2m1!1e1!2m1!1e2!2m1!1e3!3sIAE,lf:1,lf_ui:2&rlst=f#lrd=0x47da00b4080cf1bd:0x6f6fe104842d78da,1,,,&rlfi=hd:;si:8029884070138575066,l,Cg90b2dldGhlciBkZW50YWxaIgoPdG9nZXRoZXIgZGVudGFsIg90b2dldGhlciBkZW50YWw;mv:[[53.0278913,1.8271179000000002],[51.4556751,0.0387792]];tbs:lrf:!1m4!1u3!2m2!3m1!1e1!1m4!1u2!2m2!2m1!1e1!2m1!1e2!2m1!1e3!3sIAE,lf:1,lf_ui:2" target="_blank">2 reviews</a>
              </div>
          </div>
        </details>
        </div>
      </div>
      <div class="dos-display">
        <div class="dosInformation">
        <p class="address">Dentist home visit
          <br class="boilerplate">This dentist will come to your home or a care home.</p>
          <h4 class="number">01493 896352</h4>
          <div class="opening-timesOS">
            <details class="nhsuk-details nhsuk-expander">
              <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                  Available until 3.30pm
                </span>
              </summary>
                <div class="openingTable">
                  <div class="openingTimeRow">
                    <div class="openingDay">
                      <p>Monday</p>
                    </div>
                    <div class="openingTime">
                      <p>9am to 3.30pm</p>
                    </div>
                  </div>
                  <div class="openingTimeRow">
                    <div class="openingDay">
                      <p>Tuesday</p>
                    </div>
                    <div class="openingTime">
                      <p>9am to 3.30pm</p>
                    </div>
                  </div>
                  <div class="openingTimeRow">
                    <div class="openingDay">
                      <p>Wednesday</p>
                    </div>
                    <div class="openingTime">
                      <p>Closed</p>
                    </div>
                  </div>
                  <div class="openingTimeRow">
                    <div class="openingDay">
                      <p>Thursday</p>
                    </div>
                    <div class="openingTime">
                      <p>9am to 3.30pm</p>
                    </div>
                  </div>
                  <div class="openingTimeRow">
                    <div class="openingDay">
                      <p>Friday</p>
                    </div>
                    <div class="openingTime">
                      <p>9am to 3.30pm</p>
                    </div>
                  </div>
                  <div class="openingTimeRow">
                    <div class="openingDay">
                      <p>Saturday</p>
                    </div>
                    <div class="openingTime">
                      <p>Closed</p>
                    </div>
                  </div>
                  <div class="openingTimeRow">
                    <div class="openingDay">
                      <p>Sunday</p>
                    </div>
                    <div class="openingTime">
                      <p>Closed</p>
                    </div>
                  </div>
                </div>
              </details>
            </div>
            </div>
          </div>
          <div class="dos-display">
            <div class="dosInformation">
            <p class="address">Norfolk 24/7 dental triage service
              <br class="boilerplate">Phone service</p>
              <p class="opening-time-24">
                Open 24 hours
              </p>
              <div class="nhsuk-action-link">
                <a class="nhsuk-action-link__link" href="index">
                  <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
                  </svg>
                  <span class="nhsuk-action-link__text">Book a call with a dental nurse</span>
                </a>
              </div>
              </div>
            </div>
            <br>
            <br>
            <div class="FAQ">
                <hr>
              <details class="nhsuk-details">
                <summary class="nhsuk-details__summary">
                  <span class="nhsuk-details__summary-text">
                    Cost of NHS dental treatment
                  </span>
                </summary>
                <div class="nhsuk-details__text">
                  <p>NHS pricing bands are:<p>
                    <div class="band-text">
                      <p> Band 1 (including emergency) <span> £22.70 </span><br>
                      <small>Examination, diagnosis and advice.</small></p>
                      <hr>
                      <p> Band 2 <span> £62.10 </span><br>
                      <small> Additional minor treatment such as fillings, <br> root canal and removing teeth.</small></p>
                      <hr>
                      <p>Band 3 <span> £269.30 </span><br>
                      <small> Additional complex procedures, such as<br>crowns, dentures and bridges.</small></p>
                      <hr>
                    </div>
                    <p> Prices change every April </p>
                  </div>
                </details>
              <details class="nhsuk-details">
                <summary class="nhsuk-details__summary">
                  <span class="nhsuk-details__summary-text">
                    Things to look out for and self-care
                  </span>
                </summary>
                <div class="nhsuk-details__text">
                  <h4>Toothache</h4>
                  <ul>
                    <li>Don't apply gels or medicine directly to the tooth or nearby gum area. This may damage gums.</li>
                    <li>Avoid very hot or cold food and drink if it makes the pain worse </li>
                    <li>Chew on the other side of your mouth </li>
                    <li>See a dentist for your toothache. Any other cures will be temporary</li>
                  </ul>

                  <h4> Medication, pain and/or fever</h4>
                  <ul>
                    <li>Paracetamol or ibuprofen can be used to relieve pain or a fever. Don't take if you've been told not to, or you've already taken some. Read the instructions on the packet, or talk to a pharmacist. </li>
                  </ul>
                </div>
              </details>

              <details class="nhsuk-details">
                <summary class="nhsuk-details__summary">
                  <span class="nhsuk-details__summary-text">
                    What to do if you start to feel worse
                  </span>
                </summary>
                <div class="nhsuk-details__text">
                  <ol>
                    <li> Call 111 </li>
                    <li> Tell them 111 online said you needed to get help within 1 hour. </li>
                    <li> Tell them your symptoms have got worse and you need to speak to a dental nurse. </li>
                  </ol>
                </div>
              </details>
              </div>
            </body>
  {% endblock %}
<!-- Footer goes inside the footer block -->
<!-- More info and code for the footer can be found at https://service-manual.nhs.uk/design-system/components/footer -->
{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "/",
        "label": "Home"
      },
      {
        "URL": "/page-example",
        "label": "Example page"
      }
    ]
  })}}
{% endblock %}

{% block bodyEnd %}
  {% block scripts %}
    <!-- Custom JavaScript files can be added to this file -->
    {% include "includes/scripts.html" %}
    <!-- For adding page specific JavsScript -->
    {% block pageScripts %}{% endblock %}
  {% endblock %}
{% endblock %}
