<!--
  This is the main layout where you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Extends the layout from /docs/views/template.html -->
{% extends "template-111.html" %}

<!-- Add your custom CSS or Sass in /app/assets/sass/main.scss -->
{% block headCSS %}
  <link href="/css/main-grid.css" rel="stylesheet">
{% endblock %}

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  111 online see your dentist now
{% endblock %}

<!-- Header goes inside the header block -->
<!-- More info and code for the header can be found at https://service-manual.nhs.uk/design-system/components/header -->
{% block header %}
  {{ header({
    "service": {
        "name": "111 online",
        "href": "/"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}
{% block content %}
<body>
  <div class="services-that-can-help">
    <a class="back-button" href="Dx118-EmD-4hours2"> Back </a>
    <h2>
      Services that can help
    </h2>
    <hr>
  </div>
  <p> Recommended service for NR30 5JW <a class="postcode" href="index">change my postcode</a>
  </p>
  <div class="dos-display">
    <div class="dosInformation">
    <p class="address">Norfolk 24/7 dental triage service
      <br class="boilerplate">Phone service</p>
      <p class="opening-time-24">
        Open 24 hours
      </p>
      <div class="nhsuk-action-link">
        <a class="nhsuk-action-link__link" href="index">
          <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
          </svg>
          <span class="nhsuk-action-link__text">Book a call with a dental nurse</span>
        </a>
      </div>
      </div>
    </div>
      <p> For a NHS appointment ask the dentist when booking. You don't need to be registered.</p>
      <hr>

      <div>
        <h3>Other ways to get help</h3>
        <p>If you do not want to use the recommended service, see <a href="other-services5">other things you can do.</a>
          <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                Cost of NHS dental treatment
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <p>NHS pricing bands are:<p>
                <div class="band-text">
                  <p> Band 1 (including emergency) <span> £22.70 </span><br>
                  <small>Examination, diagnosis and advice.</small></p>
                  <hr>
                  <p> Band 2 <span> £62.10 </span><br>
                  <small> Additional minor treatment such as fillings, <br> root canal and removing teeth.</small></p>
                  <hr>
                  <p>Band 3 <span> £269.30 </span><br>
                  <small> Additional complex procedures, such as<br>crowns, dentures and bridges.</small></p>
                  <hr>
                </div>
                <p> Prices change every April </p>
              </div>
            </details>
        </div>
        <br>
        <hr>
        <div class="FAQ">
          <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                Things to look out for and self-care
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <h4>Toothache</h4>
              <ul>
                <li>Don't apply gels or medicine directly to the tooth or nearby gum area. This may damage gums.</li>
                <li>Avoid very hot or cold food and drink if it makes the pain worse </li>
                <li>Chew on the other side of your mouth </li>
                <li>See a dentist for your toothache. Any other cures will be temporary</li>
              </ul>

              <h4> Medication, pain and/or fever</h4>
              <ul>
                <li>Paracetamol or ibuprofen can be used to relieve pain or a fever. Don't take if you've been told not to, or you've already taken some. Read the instructions on the packet, or talk to a pharmacist. </li>
              </ul>
            </div>
          </details>

          <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                What to do if you start to feel worse
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <ol>
                <li> Call 111 </li>
                <li> Tell them 111 online said you needed to get help within 1 hour. </li>
                <li> Tell them your symptoms have got worse and you need to speak to a dental nurse. </li>
              </ol>
            </div>
          </details>
          </div>
      </body>
  {% endblock %}
<!-- Footer goes inside the footer block -->
<!-- More info and code for the footer can be found at https://service-manual.nhs.uk/design-system/components/footer -->
{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "/",
        "label": "Home"
      },
      {
        "URL": "/page-example",
        "label": "Example page"
      }
    ]
  })}}
{% endblock %}

{% block bodyEnd %}
  {% block scripts %}
    <!-- Custom JavaScript files can be added to this file -->
    {% include "includes/scripts.html" %}
    <!-- For adding page specific JavsScript -->
    {% block pageScripts %}{% endblock %}
  {% endblock %}
{% endblock %}
