<!--
  This is the main layout where you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Extends the layout from /docs/views/template.html -->
{% extends "template-111.html" %}

<!-- Add your custom CSS or Sass in /app/assets/sass/main.scss -->
{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
{% endblock %}

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  111 online see your dentist now
{% endblock %}

<!-- Header goes inside the header block -->
<!-- More info and code for the header can be found at https://service-manual.nhs.uk/design-system/components/header -->
{% block header %}
  {{ header({
    "service": {
        "name": "111 online",
        "href": "/"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}
{% block content %}
<body>
  <div class="services-that-can-help">
    <a class="back-button" href="see-your-dentist-now"> Back </a>
    <h2>
      Services that can help
    </h2>
    <hr>
  </div>
  <p> Recommended service for NR30 5JW <a class="postcode" href="index">change my postcode</a>
  </p>
  <div class="dos-display">
    <div class="dosInformation">
      <p class="address"> John G.Plummer & Associates Dental<br>
        West Rd <br> Caister-on-Sea <br> NR30 5JW </p>
        <h4 class="number"> 01493 728351 </h4>
        <div class="opening-times">
          <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                Open until 4pm
              </span>
            </summary>
              <div class="openingTable">
                <div class="openingTimeRow">
                  <div class="openingDay">
                    <p>Monday</p>
                  </div>
                  <div class="openingTime">
                    <p>9am to 4pm</p>
                  </div>
                </div>
                <div class="openingTimeRow">
                  <div class="openingDay">
                    <p>Tuesday</p>
                  </div>
                  <div class="openingTime">
                    <p>10am to 3pm</p>
                  </div>
                </div>
                <div class="openingTimeRow">
                  <div class="openingDay">
                    <p>Wednesday</p>
                  </div>
                  <div class="openingTime">
                    <p>9am to 4pm</p>
                  </div>
                </div>
                <div class="openingTimeRow">
                  <div class="openingDay">
                    <p>Thursday</p>
                  </div>
                  <div class="openingTime">
                    <p>9am to Midday</p>
                  </div>
                </div>
                <div class="openingTimeRow">
                  <div class="openingDay">
                    <p>Friday</p>
                  </div>
                  <div class="openingTime">
                    <p>9am to 4pm</p>
                  </div>
                </div>
                <div class="openingTimeRow">
                  <div class="openingDay">
                    <p>Saturday</p>
                  </div>
                  <div class="openingTime">
                    <p>Closed</p>
                  </div>
                </div>
                <div class="openingTimeRow">
                  <div class="openingDay">
                    <p>Sunday</p>
                  </div>
                  <div class="openingTime">
                    <p>Closed</p>
                  </div>
                </div>
              </div>
            </details>
          </div>
          <div class="extraInfo">
            <br>
            <p class="distance"> 1 mile away <br>
              <a href="https://www.google.com/maps/dir/52.6581559,1.7280883/Dental+caister/@52.6533606,1.7158916,15z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x47da071d7d3e470f:0x5254c083cc029a2f!2m2!1d1.7255559!2d52.6472138" target="_blank">Get directions (opens a new tab)</a>
            </p>
            <hr>
            <p>
              <a class="website" href="https://www.plummers.co.uk/" target="_blank">www.plummers.co.uk</a>
              <br>
              <a class="reviews" href="https://www.google.com/search?bih=868&biw=1618&hl=en&ei=wwa0XrjwMJTgxgPiqqmICA&q=dental%20caister&oq=dental+caister&gs_lcp=CgZwc3ktYWIQAzIGCAAQFhAeMgYIABAWEB46BAgAEB46BggAEAgQHjoECAAQDToGCAAQDRAeOggIABANEAUQHjoICAAQCBANEB46AggAOgQIABAKOggIABCRAhCLAzoICAAQgwEQiwM6BQgAEIsDOgUIABCDAToICAAQFhAKEB5QhRhYoyVgjyZoAHAAeACAAXqIAeMIkgEEMTMuMZgBAKABAaoBB2d3cy13aXq4AQI&sclient=psy-ab&ved=2ahUKEwiqiKrk56HpAhUeThUIHdN8AUcQvS4wAnoECAwQEg&uact=5&npsic=0&rflfq=1&rlha=0&rllag=52647387,1725262,27&tbm=lcl&rldimm=5932578281449757231&lqi=Cg5kZW50YWwgY2Fpc3RlcloYCgZkZW50YWwiDmRlbnRhbCBjYWlzdGVy&rldoc=1&tbs=lrf:!1m4!1u2!2m2!2m1!1e1!2m1!1e2!3sIAE,lf:1,lf_ui:2&rlst=f#lrd=0x47da071d7d3e470f:0x5254c083cc029a2f,1,,,&rlfi=hd:;si:5932578281449757231,l,Cg5kZW50YWwgY2Fpc3RlcloYCgZkZW50YWwiDmRlbnRhbCBjYWlzdGVy;mv:[[52.647582299999996,1.7255911],[52.6471929,1.7249343]];tbs:lrf:!1m4!1u2!2m2!2m1!1e1!2m1!1e2!3sIAE,lf:1,lf_ui:2" target="_blank">6 reviews</a>
            </p>
          </div>
          </div>
        <div class="mapView">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4710.933627033435!2d1.7211399222809176!3d52.64865484061556!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5254c083cc029a2f!2sJohn%20G.%20Plummer%20%26%20Associates%20Dental%20Surgeons!5e0!3m2!1sen!2suk!4v1589204503101!5m2!1sen!2suk" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
      </div>

      <p> For a NHS appointment ask the dentist when booking. You don't need to be registered.</p>
      <hr>

      <div>
        <h3>More ways to get help</h3>
        <p>If you do not want to use the recommended service, see <a href="other-services">other things you can do.</a>
        </div>
        <br>
        <hr>
        <div class="FAQ">
          <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                Things to look out for and self-care
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <h4>Toothache</h4>
              <ul>
                <li>Don't apply gels or medicine directly to the tooth or nearby gum area. This may damage gums.</li>
                <li>Avoid very hot or cold food and drink if it makes the pain worse </li>
                <li>Chew on the other side of your mouth </li>
                <li>See a dentist for your toothache. Any other cures will be temporary</li>
              </ul>

              <h4> Medication, pain and/or fever</h4>
              <ul>
                <li>Paracetamol or ibuprofen can be used to relieve pain or a fever. Don't take if you've been told not to, or you've already taken some. Read the instructions on the packet, or talk to a pharmacist. </li>
              </ul>
            </div>
          </details>

          <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                What to do if you start to feel worse
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <ol>
                <li> Call 111 </li>
                <li> Tell them 111 online said you needed to get help within 1 hour. </li>
                <li> Tell them your symptoms have got worse and you need to speak to a dental nurse. </li>
              </ol>
            </div>
          </details>
          <hr>
          <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                Cost of NHS dental treatment
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <p>NHS pricing bands are:<p>
                <div class="band-text">
                  <p> Band 1 (including emergency) <span> £22.70 </span>
                    <br> Band 2 <span> £62.10 </span>
                    <br> Band 3 <span> £269.30 </span>
                  </p>
                </div>
                <p> Prices change every April </p>
                <br>
                <p> Information from NHS.uk about: </p>
                <ul>
                  <a href="https://www.nhs.uk/common-health-questions/dental-health/how-much-will-i-pay-for-nhs-dental-treatment/"><li> What is covered in each band </li></a>
                  <a href="https://www.nhs.uk/using-the-nhs/help-with-health-costs/get-help-with-dental-costs/"><li> Getting help with dental costs </li></a>
                </ul>
              </div>
            </details>
          </div>
      </body>
  {% endblock %}
<!-- Footer goes inside the footer block -->
<!-- More info and code for the footer can be found at https://service-manual.nhs.uk/design-system/components/footer -->
{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "/",
        "label": "Home"
      },
      {
        "URL": "/page-example",
        "label": "Example page"
      }
    ]
  })}}
{% endblock %}

{% block bodyEnd %}
  {% block scripts %}
    <!-- Custom JavaScript files can be added to this file -->
    {% include "includes/scripts.html" %}
    <!-- For adding page specific JavsScript -->
    {% block pageScripts %}{% endblock %}
  {% endblock %}
{% endblock %}
