<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  NHS.UK prototype kit
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <h1>
        111 online dental prototypes
        <span class="nhsuk-caption-xl nhsuk-caption--bottom">Version {{version}}</span>
      </h1>
      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

      <hr>

      <h2>
        Contents
      </h2>
      <h3>
        Outcome journeys
        </h3>
        <ul>
          <li><a href="/1hourDentist/before-you-continue">Get dental help now - Dentist</a></li>
          <li><a href="/2hour-callback/before-you-continue1">Get dental help now - Callback</a></li>
          <li><a href="/2hour-OOH/Dx18-2hour1">Get dental help now - OOH</a></li>
          <li><a href="/dx118-ED/Dx118-EmD-4hours">Get urgent dental treatment - ED</a></li>
          <li><a href="/dx118-single/Dx118-EmD-4hours1">Get urgent dental treatment - single DoS return</a></li>
          <li><a href="/dx118-triage/Dx118-EmD-4hours2">Get urgent dental treatment - triage</a></li>
          <li><a href="/dx19-OOH/Dx19-6hour1">See your dentist as soon as you can - OOH</a></li>
          <li><a href="/dx19-triage/Dx19-6hour">See your dentist as soon as you can - triage</a></li>
          <li><a href="/dx20-OOH/Dx20-12hour1">See your dentist today - OOH</a></li>
          <li><a href="/dx20-single/Dx20-12hour2">See your dentist today - single</a></li>
          <li><a href="/dx21-dentist/Dx21-24hour1">See your dentist today or tomorrow- dentist</a></li>
          <li><a href="/dx22-triage/Dx22-5days1">See your dentist within the next few days- triage</a></li>
        </ul>
      <h3>
        Outcome pages
        </h3>
        <ul>
          <li><a href="Dx118-EmD-4hours">Get urgent dental treatment today</a></li>
          <li><a href="Dx17-1hour">See your dentist now-1 hour</a></li>
          <li><a href="Dx18-2hour">See your dentist now-2 hours</a></li>
          <li><a href="Dx19-6hour">See your dentist as soon as you can, today</a></li>
          <li><a href="Dx20-12hour">See your dentist today</a></li>
          <li><a href="Dx21-24hour">See your dentist today or tomorrow</a></li>
          <li><a href="Dx22-5days">See your dentist within the next few days </a></li>
          </ul>
      <h3>
        Dos-return pages
        </h3>
        <ul>
          <li><a href="dos-dentist-grid-single-dentist">Single service return-low acuity</a></li>
          <li><a href="dos-dentist-grid-emergency-single">Single service return - high acuity</a></li>
          <li><a href="dos-dentist-grid-weekend">Weekend service- phone and go - with map</a></li>
          <li><a href="dos-dentist-grid-weekend-noMap">Weekend service- phone and go - without map</a></li>
          <li><a href="dos-dentist-grid-callback">Callback</a></li>
          <li><a href="dos-dentist-grid-home-dentist">Home Dentist</a></li>
          </ul>
      <h3>
        Grid/flex testing
        </h3>
      <ul>
        <li><a href="before-you-continue">Grid dental prototype</a></li>
        <li><a href="dos-dentist-flex-row">Flex dental prototype - row</a></li>
        <li><a href="dos-dentist-flex-column">Flex dental prototype - column</a></li>
      </ul>

      <!-- End of content -->

    </div>
  </div>
{% endblock %}
